:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width:100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  /* outline: 2px solid red; */
  box-sizing: border-box;
}

.ReactModal__Overlay {
  z-index: 30;
}

input:invalid {
  background-color: ivory;
  border: none;
  outline: 2px solid red;
}

